default/sftp.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1764276232229,
    "description" : "SFTP to Stage",
    "identifier" : "sftp",
    "lastModifiedTimestamp" : 1764276232229,
    "name" : "sftp",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "827e43bd-0940-3175-83fa-f306aed55ad9",
        "id" : "f3c64808-ec33-3e5e-8382-e55f556744c5",
        "name" : "SFTP file list",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "4bafd33e-d03e-35ff-aa90-86f0a7800e4e",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "c3b2ea9a-c9aa-3c71-0000-00005e70e8b2",
        "name" : "CSV Files",
        "type" : "PROCESSOR"
      },
      "zIndex" : 3
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "827e43bd-0940-3175-83fa-f306aed55ad9",
        "id" : "f3c64808-ec33-3e5e-8382-e55f556744c5",
        "name" : "SFTP file list",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b119c671-b068-3416-8a8f-ad472256d600",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "86ea3d1a-685e-3b72-ffff-ffffda4c2a6e",
        "name" : "JSON Files",
        "type" : "PROCESSOR"
      },
      "zIndex" : 2
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "id" : "b1d3bfa6-9265-3dfa-b2d7-cf6b49bcfa83",
        "name" : "SFTP Files",
        "type" : "INPUT_PORT"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "f86c9812-e08e-33a8-a003-036570fc58fe",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "" ],
      "source" : {
        "groupId" : "827e43bd-0940-3175-83fa-f306aed55ad9",
        "id" : "77b2b606-06dc-3436-80e7-56c070cbba12",
        "name" : "SFTP Files",
        "type" : "OUTPUT_PORT"
      },
      "zIndex" : 1
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-snowflake-connection-service-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2025.11.20.19"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.11.20.20"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7da40173-07be-3d79-965c-4fd5bd3284b7",
      "name" : "SnowflakeConnectionService",
      "properties" : {
        "Warehouse" : "#{5_snowflake_warehouse}",
        "Maximum Connections" : "10",
        "Maximum Lifetime" : "30 minutes",
        "Schema" : "#{3_snowflake_schema}",
        "Connection Strategy" : "STANDARD",
        "Connection Timeout" : "30 seconds",
        "Role" : "#{1_snowflake_role}",
        "Idle Timeout" : "10 minutes",
        "Authentication Strategy" : "SNOWFLAKE_SESSION_TOKEN",
        "Database Name" : "#{2_snowflake_database}"
      },
      "propertyDescriptors" : {
        "Account" : {
          "displayName" : "Account",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Account",
          "sensitive" : false
        },
        "Warehouse" : {
          "displayName" : "Warehouse",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Warehouse",
          "sensitive" : false
        },
        "User" : {
          "displayName" : "User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "User",
          "sensitive" : false
        },
        "Maximum Connections" : {
          "displayName" : "Maximum Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Connections",
          "sensitive" : false
        },
        "Maximum Lifetime" : {
          "displayName" : "Maximum Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum Lifetime",
          "sensitive" : false
        },
        "Schema" : {
          "displayName" : "Schema",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Schema",
          "sensitive" : false
        },
        "Private Key Service" : {
          "displayName" : "Private Key Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Private Key Service",
          "sensitive" : false
        },
        "Connection Strategy" : {
          "displayName" : "Connection Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Strategy",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Role" : {
          "displayName" : "Role",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Role",
          "sensitive" : false
        },
        "Idle Timeout" : {
          "displayName" : "Idle Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Idle Timeout",
          "sensitive" : false
        },
        "Authentication Strategy" : {
          "displayName" : "Authentication Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Authentication Strategy",
          "sensitive" : false
        },
        "Database Name" : {
          "displayName" : "Database Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Name",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "com.snowflake.openflow.runtime.services.snowflake.SnowflakeConnectionService"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "SFTP to Stage with Slack",
    "outputPorts" : [ ],
    "parameterContextName" : "snowflake",
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "827e43bd-0940-3175-83fa-f306aed55ad9",
          "id" : "05b99190-f5f5-3a0c-8890-d9073f1da724",
          "name" : "FetchSFTP",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "827e43bd-0940-3175-83fa-f306aed55ad9",
        "identifier" : "678519a5-77ea-3222-9d9f-31932fbc3195",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "827e43bd-0940-3175-83fa-f306aed55ad9",
          "id" : "f3c64808-ec33-3e5e-8382-e55f556744c5",
          "name" : "SFTP file list",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 6
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "groupId" : "827e43bd-0940-3175-83fa-f306aed55ad9",
          "id" : "77b2b606-06dc-3436-80e7-56c070cbba12",
          "name" : "SFTP Files",
          "type" : "OUTPUT_PORT"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "827e43bd-0940-3175-83fa-f306aed55ad9",
        "identifier" : "ba704cf6-9111-3a32-8b6b-3e78528d58d2",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "827e43bd-0940-3175-83fa-f306aed55ad9",
          "id" : "05b99190-f5f5-3a0c-8890-d9073f1da724",
          "name" : "FetchSFTP",
          "type" : "PROCESSOR"
        },
        "zIndex" : 4
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "827e43bd-0940-3175-83fa-f306aed55ad9",
          "id" : "cdf2dea4-6841-3fa2-bb8c-d3884e1f9a01",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "827e43bd-0940-3175-83fa-f306aed55ad9",
        "identifier" : "ed496bf0-1516-37a8-b823-4a0e9dc8582e",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "comms.failure", "not.found", "permission.denied" ],
        "source" : {
          "comments" : "",
          "groupId" : "827e43bd-0940-3175-83fa-f306aed55ad9",
          "id" : "05b99190-f5f5-3a0c-8890-d9073f1da724",
          "name" : "FetchSFTP",
          "type" : "PROCESSOR"
        },
        "zIndex" : 5
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "827e43bd-0940-3175-83fa-f306aed55ad9",
        "identifier" : "cdf2dea4-6841-3fa2-bb8c-d3884e1f9a01",
        "position" : {
          "x" : -632.0,
          "y" : -56.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "827e43bd-0940-3175-83fa-f306aed55ad9",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "827e43bd-0940-3175-83fa-f306aed55ad9",
        "identifier" : "f3c64808-ec33-3e5e-8382-e55f556744c5",
        "name" : "SFTP file list",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -80.0,
          "y" : -160.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "SFTP to File",
      "outputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "OUTPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "827e43bd-0940-3175-83fa-f306aed55ad9",
        "identifier" : "77b2b606-06dc-3436-80e7-56c070cbba12",
        "name" : "SFTP Files",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -64.0,
          "y" : 224.0
        },
        "scheduledState" : "ENABLED",
        "type" : "OUTPUT_PORT"
      } ],
      "parameterContextName" : "sftp",
      "position" : {
        "x" : -136.0,
        "y" : -240.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.11.20.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "827e43bd-0940-3175-83fa-f306aed55ad9",
        "identifier" : "05b99190-f5f5-3a0c-8890-d9073f1da724",
        "maxBackoffPeriod" : "10 mins",
        "name" : "FetchSFTP",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -128.0,
          "y" : -8.0
        },
        "properties" : {
          "Port" : "22",
          "Remote File" : "${path}/${filename}",
          "Log Level When File Not Found" : "ERROR",
          "Hostname" : "#{0_sftp_url}",
          "Create Directory" : "false",
          "Use Compression" : "false",
          "Disable Directory Listing" : "false",
          "Send Keep Alive On Timeout" : "true",
          "Completion Strategy" : "None",
          "Connection Timeout" : "30 sec",
          "Data Timeout" : "30 sec",
          "Private Key Path" : "#{2_sftp_key}",
          "Username" : "#{1_sftp_username}",
          "Algorithm Negotiation" : "DEFAULT",
          "Strict Host Key Checking" : "false"
        },
        "propertyDescriptors" : {
          "Port" : {
            "displayName" : "Port",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Port",
            "sensitive" : false
          },
          "Remote File" : {
            "displayName" : "Remote File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Remote File",
            "sensitive" : false
          },
          "Log Level When File Not Found" : {
            "displayName" : "Log Level When File Not Found",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Log Level When File Not Found",
            "sensitive" : false
          },
          "Hostname" : {
            "displayName" : "Hostname",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Hostname",
            "sensitive" : false
          },
          "Create Directory" : {
            "displayName" : "Create Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Create Directory",
            "sensitive" : false
          },
          "Host Key File" : {
            "displayName" : "Host Key File",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Host Key File",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "FILE" ]
            },
            "sensitive" : false
          },
          "Use Compression" : {
            "displayName" : "Use Compression",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Use Compression",
            "sensitive" : false
          },
          "Ciphers Allowed" : {
            "displayName" : "Ciphers Allowed",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Ciphers Allowed",
            "sensitive" : false
          },
          "Message Authentication Codes Allowed" : {
            "displayName" : "Message Authentication Codes Allowed",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Message Authentication Codes Allowed",
            "sensitive" : false
          },
          "Disable Directory Listing" : {
            "displayName" : "Disable Directory Listing",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Disable Directory Listing",
            "sensitive" : false
          },
          "Send Keep Alive On Timeout" : {
            "displayName" : "Send Keep Alive On Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Send Keep Alive On Timeout",
            "sensitive" : false
          },
          "Completion Strategy" : {
            "displayName" : "Completion Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Completion Strategy",
            "sensitive" : false
          },
          "Private Key Passphrase" : {
            "displayName" : "Private Key Passphrase",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Private Key Passphrase",
            "sensitive" : true
          },
          "Proxy Configuration Service" : {
            "displayName" : "Proxy Configuration Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Proxy Configuration Service",
            "sensitive" : false
          },
          "Connection Timeout" : {
            "displayName" : "Connection Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Connection Timeout",
            "sensitive" : false
          },
          "Data Timeout" : {
            "displayName" : "Data Timeout",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Data Timeout",
            "sensitive" : false
          },
          "Private Key Path" : {
            "displayName" : "Private Key Path",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Private Key Path",
            "resourceDefinition" : {
              "cardinality" : "SINGLE",
              "resourceTypes" : [ "FILE" ]
            },
            "sensitive" : false
          },
          "Username" : {
            "displayName" : "Username",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Username",
            "sensitive" : false
          },
          "Move Destination Directory" : {
            "displayName" : "Move Destination Directory",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Move Destination Directory",
            "sensitive" : false
          },
          "Algorithm Negotiation" : {
            "displayName" : "Algorithm Negotiation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Algorithm Negotiation",
            "sensitive" : false
          },
          "Key Exchange Algorithms Allowed" : {
            "displayName" : "Key Exchange Algorithms Allowed",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Key Exchange Algorithms Allowed",
            "sensitive" : false
          },
          "Strict Host Key Checking" : {
            "displayName" : "Strict Host Key Checking",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Strict Host Key Checking",
            "sensitive" : false
          },
          "Key Algorithms Allowed" : {
            "displayName" : "Key Algorithms Allowed",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Key Algorithms Allowed",
            "sensitive" : false
          },
          "Password" : {
            "displayName" : "Password",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Password",
            "sensitive" : true
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.FetchSFTP",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    }, {
      "comments" : "",
      "componentType" : "PROCESS_GROUP",
      "connections" : [ {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 422.5518341064453,
          "y" : 665.6513671875
        }, {
          "x" : 363.5518341064453,
          "y" : 762.6513671875
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "942b5e2c-43b6-3415-88c5-86a2a45d55b3",
          "name" : "PublishSlack",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "32ed1f60-40ad-37fb-b41d-5b0315c7e221",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure", "rate limited" ],
        "source" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "942b5e2c-43b6-3415-88c5-86a2a45d55b3",
          "name" : "PublishSlack",
          "type" : "PROCESSOR"
        },
        "zIndex" : 14
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "942b5e2c-43b6-3415-88c5-86a2a45d55b3",
          "name" : "PublishSlack",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "4e3a9311-1f84-3e2a-a3f3-73e3cadec27f",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "matched" ],
        "source" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "0e1fed8a-2d20-3bf6-b0d7-fcd8a3f0cc83",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "zIndex" : 17
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ {
          "x" : 1256.0,
          "y" : 240.0
        }, {
          "x" : 1101.0,
          "y" : 281.0
        } ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "390a6239-6773-3b42-0000-000059052b75",
          "name" : "PublishSlack",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "53f3b02d-5719-3437-be74-bd8d1171cd10",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure", "rate limited", "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "390a6239-6773-3b42-0000-000059052b75",
          "name" : "PublishSlack",
          "type" : "PROCESSOR"
        },
        "zIndex" : 19
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "2736af78-bd88-3e82-9d4e-dd6adf06dedd",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "6efb1a78-12b2-3227-92b1-6cc11dabcc57",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure", "unmatched" ],
        "source" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "0e1fed8a-2d20-3bf6-b0d7-fcd8a3f0cc83",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "zIndex" : 16
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "bf39e8be-1100-3f89-a887-3044602d7ec6",
          "name" : "PutSnowflakeInternalStageFile",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "84640a92-9089-36a9-b1db-81ec44c1989f",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "" ],
        "source" : {
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "b1d3bfa6-9265-3dfa-b2d7-cf6b49bcfa83",
          "name" : "SFTP Files",
          "type" : "INPUT_PORT"
        },
        "zIndex" : 7
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "390a6239-6773-3b42-0000-000059052b75",
          "name" : "PublishSlack",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "957752f8-afd7-3696-9fe3-93fd49978292",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "bf39e8be-1100-3f89-a887-3044602d7ec6",
          "name" : "PutSnowflakeInternalStageFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 18
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "0e1fed8a-2d20-3bf6-b0d7-fcd8a3f0cc83",
          "name" : "EvaluateJsonPath",
          "type" : "PROCESSOR"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "b6fe9928-524c-317f-a016-2e972d58f87e",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "failure" ],
        "source" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "bf39e8be-1100-3f89-a887-3044602d7ec6",
          "name" : "PutSnowflakeInternalStageFile",
          "type" : "PROCESSOR"
        },
        "zIndex" : 15
      }, {
        "backPressureDataSizeThreshold" : "1 GB",
        "backPressureObjectThreshold" : 10000,
        "bends" : [ ],
        "componentType" : "CONNECTION",
        "destination" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "95cf3722-d970-3f45-9fca-fafb9da493ff",
          "name" : "Funnel",
          "type" : "FUNNEL"
        },
        "flowFileExpiration" : "0 sec",
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "e0720752-859b-35b4-a516-619d81c5a335",
        "labelIndex" : 0,
        "loadBalanceCompression" : "DO_NOT_COMPRESS",
        "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
        "name" : "",
        "partitioningAttribute" : "",
        "prioritizers" : [ ],
        "selectedRelationships" : [ "success" ],
        "source" : {
          "comments" : "",
          "groupId" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
          "id" : "942b5e2c-43b6-3415-88c5-86a2a45d55b3",
          "name" : "PublishSlack",
          "type" : "PROCESSOR"
        },
        "zIndex" : 13
      } ],
      "controllerServices" : [ ],
      "defaultBackPressureDataSizeThreshold" : "1 GB",
      "defaultBackPressureObjectThreshold" : 10000,
      "defaultFlowFileExpiration" : "0 sec",
      "executionEngine" : "INHERITED",
      "flowFileConcurrency" : "UNBOUNDED",
      "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
      "funnels" : [ {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "2736af78-bd88-3e82-9d4e-dd6adf06dedd",
        "position" : {
          "x" : -520.0,
          "y" : 464.0
        }
      }, {
        "componentType" : "FUNNEL",
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "95cf3722-d970-3f45-9fca-fafb9da493ff",
        "position" : {
          "x" : 24.0,
          "y" : 936.0
        }
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
      "inputPorts" : [ {
        "allowRemoteAccess" : false,
        "componentType" : "INPUT_PORT",
        "concurrentlySchedulableTaskCount" : 1,
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "b1d3bfa6-9265-3dfa-b2d7-cf6b49bcfa83",
        "name" : "SFTP Files",
        "portFunction" : "STANDARD",
        "position" : {
          "x" : -72.0,
          "y" : 24.0
        },
        "scheduledState" : "ENABLED",
        "type" : "INPUT_PORT"
      } ],
      "labels" : [ ],
      "maxConcurrentTasks" : 1,
      "name" : "File to Snowflake Stage",
      "outputPorts" : [ ],
      "parameterContextName" : "snowflake",
      "position" : {
        "x" : -136.0,
        "y" : 104.0
      },
      "processGroups" : [ ],
      "processors" : [ {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-standard-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.11.20.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "0e1fed8a-2d20-3bf6-b0d7-fcd8a3f0cc83",
        "maxBackoffPeriod" : "10 mins",
        "name" : "EvaluateJsonPath",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -136.0,
          "y" : 416.0
        },
        "properties" : {
          "Destination" : "flowfile-attribute",
          "Max String Length" : "20 MB",
          "item_type" : "$.type",
          "Return Type" : "auto-detect",
          "Null Value Representation" : "empty string",
          "item_name" : "$.name",
          "created_date" : "$.properties.createdDate",
          "created_by" : "$.properties.createdBy",
          "Path Not Found Behavior" : "ignore"
        },
        "propertyDescriptors" : {
          "Destination" : {
            "displayName" : "Destination",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Destination",
            "sensitive" : false
          },
          "Max String Length" : {
            "displayName" : "Max String Length",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max String Length",
            "sensitive" : false
          },
          "item_type" : {
            "displayName" : "item_type",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "item_type",
            "sensitive" : false
          },
          "Return Type" : {
            "displayName" : "Return Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Return Type",
            "sensitive" : false
          },
          "Null Value Representation" : {
            "displayName" : "Null Value Representation",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Null Value Representation",
            "sensitive" : false
          },
          "item_name" : {
            "displayName" : "item_name",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "item_name",
            "sensitive" : false
          },
          "created_date" : {
            "displayName" : "created_date",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "created_date",
            "sensitive" : false
          },
          "created_by" : {
            "displayName" : "created_by",
            "dynamic" : true,
            "identifiesControllerService" : false,
            "name" : "created_by",
            "sensitive" : false
          },
          "Path Not Found Behavior" : {
            "displayName" : "Path Not Found Behavior",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Path Not Found Behavior",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "yieldDuration" : "1 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-slack-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.11.20.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "390a6239-6773-3b42-0000-000059052b75",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PublishSlack",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : 624.0,
          "y" : 192.0
        },
        "properties" : {
          "Max FlowFile Size" : "1 MB",
          "Publish Strategy" : "Use 'Message Text' Property",
          "Channel" : "#{1_slack_channel}",
          "Access Token" : "#{0_slack_oauth_token}",
          "Message Text" : "SFTP Files Updated",
          "Character Set" : "UTF-8",
          "Include FlowFile Content as Attachment" : "false"
        },
        "propertyDescriptors" : {
          "Max FlowFile Size" : {
            "displayName" : "Max FlowFile Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max FlowFile Size",
            "sensitive" : false
          },
          "Thread Timestamp" : {
            "displayName" : "Thread Timestamp",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Thread Timestamp",
            "sensitive" : false
          },
          "Methods Endpoint Url Prefix" : {
            "displayName" : "Methods Endpoint Url Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Methods Endpoint Url Prefix",
            "sensitive" : false
          },
          "Publish Strategy" : {
            "displayName" : "Publish Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Publish Strategy",
            "sensitive" : false
          },
          "Channel" : {
            "displayName" : "Channel",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Channel",
            "sensitive" : false
          },
          "Access Token" : {
            "displayName" : "Access Token",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Access Token",
            "sensitive" : true
          },
          "Message Text" : {
            "displayName" : "Message Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Message Text",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Include FlowFile Content as Attachment" : {
            "displayName" : "Include FlowFile Content as Attachment",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include FlowFile Content as Attachment",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.slack.PublishSlack",
        "yieldDuration" : "3 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "nifi-slack-nar",
          "group" : "org.apache.nifi",
          "version" : "2025.11.20.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "942b5e2c-43b6-3415-88c5-86a2a45d55b3",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PublishSlack",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -120.0,
          "y" : 672.0
        },
        "properties" : {
          "Max FlowFile Size" : "1 MB",
          "Publish Strategy" : "Use 'Message Text' Property",
          "Channel" : "#{1_slack_channel}",
          "Access Token" : "#{0_slack_oauth_token}",
          "Message Text" : "🆕 *New Item Created: ${item_name}*\n\n> *Type:* ${item_type}\n> *Created By:* ${created_by}\n> *Date:* ${created_date}\n\n_ID: ${item_name} - Logged by OpenFlow_",
          "Character Set" : "UTF-8",
          "Include FlowFile Content as Attachment" : "false"
        },
        "propertyDescriptors" : {
          "Max FlowFile Size" : {
            "displayName" : "Max FlowFile Size",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Max FlowFile Size",
            "sensitive" : false
          },
          "Thread Timestamp" : {
            "displayName" : "Thread Timestamp",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Thread Timestamp",
            "sensitive" : false
          },
          "Methods Endpoint Url Prefix" : {
            "displayName" : "Methods Endpoint Url Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Methods Endpoint Url Prefix",
            "sensitive" : false
          },
          "Publish Strategy" : {
            "displayName" : "Publish Strategy",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Publish Strategy",
            "sensitive" : false
          },
          "Channel" : {
            "displayName" : "Channel",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Channel",
            "sensitive" : false
          },
          "Access Token" : {
            "displayName" : "Access Token",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Access Token",
            "sensitive" : true
          },
          "Message Text" : {
            "displayName" : "Message Text",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Message Text",
            "sensitive" : false
          },
          "Character Set" : {
            "displayName" : "Character Set",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Character Set",
            "sensitive" : false
          },
          "Include FlowFile Content as Attachment" : {
            "displayName" : "Include FlowFile Content as Attachment",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Include FlowFile Content as Attachment",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "org.apache.nifi.processors.slack.PublishSlack",
        "yieldDuration" : "3 sec"
      }, {
        "autoTerminatedRelationships" : [ ],
        "backoffMechanism" : "PENALIZE_FLOWFILE",
        "bulletinLevel" : "WARN",
        "bundle" : {
          "artifact" : "runtime-snowflake-processors-nar",
          "group" : "com.snowflake.openflow.runtime",
          "version" : "2025.11.20.19"
        },
        "comments" : "",
        "componentType" : "PROCESSOR",
        "concurrentlySchedulableTaskCount" : 1,
        "executionNode" : "ALL",
        "groupIdentifier" : "a730de16-31d8-3faa-ae86-c1c34e079e4d",
        "identifier" : "bf39e8be-1100-3f89-a887-3044602d7ec6",
        "maxBackoffPeriod" : "10 mins",
        "name" : "PutSnowflakeInternalStageFile",
        "penaltyDuration" : "30 sec",
        "position" : {
          "x" : -128.0,
          "y" : 192.0
        },
        "properties" : {
          "Compression Enabled" : "false",
          "Schema" : "#{3_snowflake_schema}",
          "Snowflake Connection Service" : "7da40173-07be-3d79-965c-4fd5bd3284b7",
          "Database" : "#{2_snowflake_database}",
          "Stage" : "#{4_snowflake_stage}",
          "File Name" : "${filename}",
          "Internal Stage Type" : "named"
        },
        "propertyDescriptors" : {
          "Compression Enabled" : {
            "displayName" : "Compression Enabled",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Compression Enabled",
            "sensitive" : false
          },
          "Table" : {
            "displayName" : "Table",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Table",
            "sensitive" : false
          },
          "Schema" : {
            "displayName" : "Schema",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Schema",
            "sensitive" : false
          },
          "Snowflake Connection Service" : {
            "displayName" : "Snowflake Connection Service",
            "dynamic" : false,
            "identifiesControllerService" : true,
            "name" : "Snowflake Connection Service",
            "sensitive" : false
          },
          "Database" : {
            "displayName" : "Database",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Database",
            "sensitive" : false
          },
          "File Prefix" : {
            "displayName" : "File Prefix",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "File Prefix",
            "sensitive" : false
          },
          "Stage" : {
            "displayName" : "Stage",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Stage",
            "sensitive" : false
          },
          "File Name" : {
            "displayName" : "File Name",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "File Name",
            "sensitive" : false
          },
          "Internal Stage Type" : {
            "displayName" : "Internal Stage Type",
            "dynamic" : false,
            "identifiesControllerService" : false,
            "name" : "Internal Stage Type",
            "sensitive" : false
          }
        },
        "retriedRelationships" : [ ],
        "retryCount" : 10,
        "runDurationMillis" : 0,
        "scheduledState" : "ENABLED",
        "schedulingPeriod" : "0 sec",
        "schedulingStrategy" : "TIMER_DRIVEN",
        "style" : { },
        "type" : "com.snowflake.openflow.runtime.processors.snowflake.PutSnowflakeInternalStageFile",
        "yieldDuration" : "1 sec"
      } ],
      "remoteProcessGroups" : [ ],
      "scheduledState" : "ENABLED",
      "statelessFlowTimeout" : "1 min"
    } ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.11.20.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "86ea3d1a-685e-3b72-ffff-ffffda4c2a6e",
      "maxBackoffPeriod" : "10 mins",
      "name" : "JSON Files",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -392.0,
        "y" : -528.0
      },
      "properties" : {
        "Minimum File Age" : "0 sec",
        "Entity Tracking Initial Listing Target" : "all",
        "Ignore Dotted Files" : "true",
        "Port" : "22",
        "Connection Timeout" : "30 sec",
        "Follow Symbolic Links" : "false",
        "Minimum File Size" : "0 B",
        "Search Recursively" : "true",
        "Entity Tracking Time Window" : "3 hours",
        "Strict Host Key Checking" : "false",
        "Hostname" : "#{0_sftp_url}",
        "Remote Path" : "/json",
        "Use Compression" : "false",
        "Send Keep Alive On Timeout" : "true",
        "Data Timeout" : "30 sec",
        "Private Key Path" : "#{2_sftp_key}",
        "Target System Timestamp Precision" : "auto-detect",
        "Username" : "#{1_sftp_username}",
        "Algorithm Negotiation" : "DEFAULT",
        "Listing Strategy" : "none"
      },
      "propertyDescriptors" : {
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "Entity Tracking Initial Listing Target" : {
          "displayName" : "Entity Tracking Initial Listing Target",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Entity Tracking Initial Listing Target",
          "sensitive" : false
        },
        "Ignore Dotted Files" : {
          "displayName" : "Ignore Dotted Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Dotted Files",
          "sensitive" : false
        },
        "Entity Tracking State Cache" : {
          "displayName" : "Entity Tracking State Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Entity Tracking State Cache",
          "sensitive" : false
        },
        "Port" : {
          "displayName" : "Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Port",
          "sensitive" : false
        },
        "Ciphers Allowed" : {
          "displayName" : "Ciphers Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ciphers Allowed",
          "sensitive" : false
        },
        "Private Key Passphrase" : {
          "displayName" : "Private Key Passphrase",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Passphrase",
          "sensitive" : true
        },
        "Proxy Configuration Service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Proxy Configuration Service",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Follow Symbolic Links" : {
          "displayName" : "Follow Symbolic Links",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Follow Symbolic Links",
          "sensitive" : false
        },
        "Path Filter Regex" : {
          "displayName" : "Path Filter Regex",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter Regex",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Search Recursively" : {
          "displayName" : "Search Recursively",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Search Recursively",
          "sensitive" : false
        },
        "Entity Tracking Time Window" : {
          "displayName" : "Entity Tracking Time Window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Entity Tracking Time Window",
          "sensitive" : false
        },
        "Strict Host Key Checking" : {
          "displayName" : "Strict Host Key Checking",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Strict Host Key Checking",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        },
        "File Filter Regex" : {
          "displayName" : "File Filter Regex",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter Regex",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "Hostname" : {
          "displayName" : "Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Hostname",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "Remote Path" : {
          "displayName" : "Remote Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remote Path",
          "sensitive" : false
        },
        "Host Key File" : {
          "displayName" : "Host Key File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Host Key File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Use Compression" : {
          "displayName" : "Use Compression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Compression",
          "sensitive" : false
        },
        "Message Authentication Codes Allowed" : {
          "displayName" : "Message Authentication Codes Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Authentication Codes Allowed",
          "sensitive" : false
        },
        "Send Keep Alive On Timeout" : {
          "displayName" : "Send Keep Alive On Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Send Keep Alive On Timeout",
          "sensitive" : false
        },
        "Data Timeout" : {
          "displayName" : "Data Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Timeout",
          "sensitive" : false
        },
        "Private Key Path" : {
          "displayName" : "Private Key Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Path",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Target System Timestamp Precision" : {
          "displayName" : "Target System Timestamp Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Target System Timestamp Precision",
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "Algorithm Negotiation" : {
          "displayName" : "Algorithm Negotiation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Algorithm Negotiation",
          "sensitive" : false
        },
        "Key Exchange Algorithms Allowed" : {
          "displayName" : "Key Exchange Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Exchange Algorithms Allowed",
          "sensitive" : false
        },
        "Listing Strategy" : {
          "displayName" : "Listing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Listing Strategy",
          "sensitive" : false
        },
        "Key Algorithms Allowed" : {
          "displayName" : "Key Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Algorithms Allowed",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "#{3_sftp_run_schedule}",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ListSFTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.11.20.19"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "PRIMARY",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c3b2ea9a-c9aa-3c71-0000-00005e70e8b2",
      "maxBackoffPeriod" : "10 mins",
      "name" : "CSV Files",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 184.0,
        "y" : -544.0
      },
      "properties" : {
        "Minimum File Age" : "0 sec",
        "Entity Tracking Initial Listing Target" : "all",
        "Ignore Dotted Files" : "true",
        "Port" : "22",
        "Connection Timeout" : "30 sec",
        "Follow Symbolic Links" : "false",
        "Minimum File Size" : "0 B",
        "Search Recursively" : "true",
        "Entity Tracking Time Window" : "3 hours",
        "Strict Host Key Checking" : "false",
        "Hostname" : "#{0_sftp_url}",
        "Remote Path" : "/csv",
        "Use Compression" : "false",
        "Send Keep Alive On Timeout" : "true",
        "Data Timeout" : "30 sec",
        "Private Key Path" : "#{2_sftp_key}",
        "Target System Timestamp Precision" : "auto-detect",
        "Username" : "#{1_sftp_username}",
        "Algorithm Negotiation" : "DEFAULT",
        "Listing Strategy" : "none"
      },
      "propertyDescriptors" : {
        "Minimum File Age" : {
          "displayName" : "Minimum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Age",
          "sensitive" : false
        },
        "Entity Tracking Initial Listing Target" : {
          "displayName" : "Entity Tracking Initial Listing Target",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Entity Tracking Initial Listing Target",
          "sensitive" : false
        },
        "Ignore Dotted Files" : {
          "displayName" : "Ignore Dotted Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Dotted Files",
          "sensitive" : false
        },
        "Entity Tracking State Cache" : {
          "displayName" : "Entity Tracking State Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Entity Tracking State Cache",
          "sensitive" : false
        },
        "Port" : {
          "displayName" : "Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Port",
          "sensitive" : false
        },
        "Ciphers Allowed" : {
          "displayName" : "Ciphers Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ciphers Allowed",
          "sensitive" : false
        },
        "Private Key Passphrase" : {
          "displayName" : "Private Key Passphrase",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Passphrase",
          "sensitive" : true
        },
        "Proxy Configuration Service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Proxy Configuration Service",
          "sensitive" : false
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Follow Symbolic Links" : {
          "displayName" : "Follow Symbolic Links",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Follow Symbolic Links",
          "sensitive" : false
        },
        "Path Filter Regex" : {
          "displayName" : "Path Filter Regex",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter Regex",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Minimum File Size" : {
          "displayName" : "Minimum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Minimum File Size",
          "sensitive" : false
        },
        "Search Recursively" : {
          "displayName" : "Search Recursively",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Search Recursively",
          "sensitive" : false
        },
        "Entity Tracking Time Window" : {
          "displayName" : "Entity Tracking Time Window",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Entity Tracking Time Window",
          "sensitive" : false
        },
        "Strict Host Key Checking" : {
          "displayName" : "Strict Host Key Checking",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Strict Host Key Checking",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        },
        "File Filter Regex" : {
          "displayName" : "File Filter Regex",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter Regex",
          "sensitive" : false
        },
        "Maximum File Age" : {
          "displayName" : "Maximum File Age",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Age",
          "sensitive" : false
        },
        "Hostname" : {
          "displayName" : "Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Hostname",
          "sensitive" : false
        },
        "Maximum File Size" : {
          "displayName" : "Maximum File Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Maximum File Size",
          "sensitive" : false
        },
        "Remote Path" : {
          "displayName" : "Remote Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remote Path",
          "sensitive" : false
        },
        "Host Key File" : {
          "displayName" : "Host Key File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Host Key File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Use Compression" : {
          "displayName" : "Use Compression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Compression",
          "sensitive" : false
        },
        "Message Authentication Codes Allowed" : {
          "displayName" : "Message Authentication Codes Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Authentication Codes Allowed",
          "sensitive" : false
        },
        "Send Keep Alive On Timeout" : {
          "displayName" : "Send Keep Alive On Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Send Keep Alive On Timeout",
          "sensitive" : false
        },
        "Data Timeout" : {
          "displayName" : "Data Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Timeout",
          "sensitive" : false
        },
        "Private Key Path" : {
          "displayName" : "Private Key Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Path",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Target System Timestamp Precision" : {
          "displayName" : "Target System Timestamp Precision",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Target System Timestamp Precision",
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "Algorithm Negotiation" : {
          "displayName" : "Algorithm Negotiation",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Algorithm Negotiation",
          "sensitive" : false
        },
        "Key Exchange Algorithms Allowed" : {
          "displayName" : "Key Exchange Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Exchange Algorithms Allowed",
          "sensitive" : false
        },
        "Listing Strategy" : {
          "displayName" : "Listing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Listing Strategy",
          "sensitive" : false
        },
        "Key Algorithms Allowed" : {
          "displayName" : "Key Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Algorithms Allowed",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "#{3_sftp_run_schedule}",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.ListSFTP",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : {
    "snowflake" : {
      "componentType" : "PARAMETER_CONTEXT",
      "description" : "",
      "inheritedParameterContexts" : [ "slack", "sftp" ],
      "name" : "snowflake",
      "parameters" : [ {
        "description" : "If on SPCS, then - SNOWFLAKE_SESSION_TOKEN",
        "name" : "0_snowflake_connection_strategy",
        "provided" : false,
        "sensitive" : false,
        "value" : "snowflake_connection_strategy"
      }, {
        "description" : "",
        "name" : "1_snowflake_role",
        "provided" : false,
        "sensitive" : false,
        "value" : "ACCOUNTADMIN"
      }, {
        "description" : "",
        "name" : "2_snowflake_database",
        "provided" : false,
        "sensitive" : false,
        "value" : "RAW"
      }, {
        "description" : "",
        "name" : "3_snowflake_schema",
        "provided" : false,
        "sensitive" : false,
        "value" : "SFTP"
      }, {
        "description" : "",
        "name" : "4_snowflake_stage",
        "provided" : false,
        "sensitive" : false,
        "value" : "FILES"
      }, {
        "description" : "",
        "name" : "5_snowflake_warehouse",
        "provided" : false,
        "sensitive" : false,
        "value" : "openflow"
      } ]
    },
    "slack" : {
      "componentType" : "PARAMETER_CONTEXT",
      "description" : "",
      "inheritedParameterContexts" : [ ],
      "name" : "slack",
      "parameters" : [ {
        "description" : "",
        "name" : "0_slack_oauth_token",
        "provided" : false,
        "sensitive" : true
      }, {
        "description" : "",
        "name" : "1_slack_channel",
        "provided" : false,
        "sensitive" : false,
        "value" : "openflow_notifications"
      } ]
    },
    "sftp" : {
      "componentType" : "PARAMETER_CONTEXT",
      "description" : "",
      "inheritedParameterContexts" : [ ],
      "name" : "sftp",
      "parameters" : [ {
        "description" : "",
        "name" : "0_sftp_url",
        "provided" : false,
        "sensitive" : false,
        "value" : "danielwilczaksftp.blob.core.windows.net"
      }, {
        "description" : "",
        "name" : "1_sftp_username",
        "provided" : false,
        "sensitive" : false,
        "value" : "danielwilczaksftp.data.danielwilczak"
      }, {
        "description" : "",
        "name" : "2_sftp_key",
        "provided" : false,
        "sensitive" : false
      }, {
        "description" : "The amount of time that should elapse between task executions. This can be in the form sec, min, days or CRON",
        "name" : "3_sftp_run_schedule",
        "provided" : false,
        "sensitive" : false,
        "value" : "1 hour"
      } ]
    }
  },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "DANIELWILCZAK",
    "flowIdentifier" : "sftp",
    "timestamp" : 1764481199742
  }
}